/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #e3f2fd, #ffffff);
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #00796b; /* Soft teal */
}

a.active, a:hover {
    color: #004d40; /* Darker teal */
}

/* Navigation Styles */
header {
    position: relative;
    background-color: #004d40; /* Dark teal */
    color: white;
}

.home-header {
    height: 9vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

nav .logo {
    font-size: 1.8em;
    font-weight: bold;

    color: #ffffff;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #00796b; /* Soft teal background */
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 2em 1em;
    margin-top: 11em;
}

.hero table {
    margin:0 auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background: white;
    color: #333;
    border: 2px solid #004d40; /* Dark teal border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero table th, .hero table td {
    padding: 0.5em 1em;
    border: 1px solid #ddd;
    text-align: left;
}

/* Main Content */
main {
    margin: 0 auto;
    max-width: 900px;
    padding: 2em 1em;
}

h1, h2 {
    text-align: center;
    color: #004d40;
}

.page-title h1 {
    font-size: 2.2em;
    margin-bottom: 30px;

    color: #00796b;
}

/* New Styles for Content Sections */
.content {
    border: none; /* Remove border */
    margin: 0; /* Remove any margin between sections */
    padding: 1.5em;
    max-width: 800px;
    box-shadow: none; /* Remove shadow */
    text-align: left; /* Align text for readability */
}

.content h2 {
    color: #004d40;
    margin-bottom: 0.5em;
}

.content p {
    margin: 0.5em 0;
    line-height: 1.8;
    color: #333; /* Standard text color */
}

/* Footer */
footer {
    background: #004d40;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 18em;
}
